# Task 1

# Harshit Bhardwaj

##  Write code in python to print following patterns :-

### Q:1

In [1]:
for i in range(5):
    print("5 "*(5-i))

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

#### Q:2

In [2]:
for i in range(6):
    for j in range(6-i):
        print(j,end='\t')
    print("\n")

0	1	2	3	4	5

0	1	2	3	4

0	1	2	3

0	1	2

0	1

0

#### Q:3

In [3]:
for i in range(1,6):
    for j in range(i):
        num = (i*2-1)
        print(f"{num}", end='\t')
    print('\n')

1

3	3

5	5	5

7	7	7	7

9	9	9	9	9

#### Q:4

In [4]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j, end='\t')
    print("\n")

1

2	1

3	2	1

4	3	2	1

5	4	3	2	1

#### Q:5

In [5]:
i = 1
j = 2
temp = j
for r in range(2,6):
    for c in range(i,j):
        temp = temp-1
        print(temp, end='\t')
    i = j 
    j = i + r
    temp = j
    print("\n")

1

3	2

6	5	4

10	9	8	7

#### Q:6

In [6]:
total_rows = 7
for i in range(total_rows):
    for j in range(i+1):
        temp = 1
        if j > i-j:
            j = i-j
        for k in range(0,j):
            temp = temp*(i-k)
            temp = temp//(k+1)
        print(temp,end='\t')
    print("\n")

1

1	1

1	2	1

1	3	3	1

1	4	6	4	1

1	5	10	10	5	1

1	6	15	20	15	6	1

#### Q:7

In [7]:
rows = 5
columns = 5
for i in range(1,rows+1):
    for j in range(1,columns+1):
        if i >= j:
            temp = i
        else:
            temp = j
        print(temp,end='\t')
    print("\n")

1	2	3	4	5

2	2	3	4	5

3	3	3	4	5

4	4	4	4	5

5	5	5	5	5

#### Q:8

In [8]:
rows = 8
columns = 8
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(i*j, end='\t')
    print('\n')

1

2	4

3	6	9

4	8	12	16

5	10	15	20	25

6	12	18	24	30	36

7	14	21	28	35	42	49

8	16	24	32	40	48	56	64

#### Q:9

In [9]:
rows = 6
for i in range(rows):
    for j in range(i+1):
        print(" ",end=' ')
    for j in range(i,rows-1):
        print("*",end=' ')
    for j in range(i,rows):
        print("*",end=" ")
    print("\n")

  * * * * * * * * * * *

    * * * * * * * * *

      * * * * * * *

        * * * * *

          * * *

            *

#### Q:10

In [10]:
rows = 10
spaces = (2 * rows) - 2  
for i in range(0, rows):  
    for j in range(0, spaces):  
        print(end=" ")  
    spaces = spaces - 1   
    for j in range(0, i + 1):   
        print("* ", end=' ')  
    print(" ")

                  *
                 *  *
                *  *  *
               *  *  *  *
              *  *  *  *  *
             *  *  *  *  *  *
            *  *  *  *  *  *  *
           *  *  *  *  *  *  *  *
          *  *  *  *  *  *  *  *  *
         *  *  *  *  *  *  *  *  *  *

#### Q:11

In [11]:
for i in range(1,8):
    print("* "*i,end='\n')
print(" ")
for j in range(7,0,-1):
    print("* "*j,end='\n')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

#### Q:12

In [12]:
for i in range(1,8):
    print("* "*i,end='\n')
for j in range(7,0,-1):
    print("* "*j,end='\n')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

#### Q:13

In [13]:
rows = 5
i = 1
while i <= rows:
    j = i
    while j < rows:
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

#### Q:14

In [14]:
rows = 5
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        # display space
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

#### Q:15

In [15]:
rows = 14
print("*"*rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*